<div class="container">

  <form>
    <div class="form-group">
      <label><h3>Search characters by aliases:</h3></label>
      <input type="text" [(ngModel)]="term1" class="form-control" name="term1" placeholder="Enter character aliases here">
    </div>
  </form>

  <div *ngFor="let character  of AllCharacters | filterAliases:term1">
    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        <h1>
          {{character.aliases[0]}}
        </h1>
        <br>
        <button type="button" class="btn btn-primary btn-md"><a [routerLink]="['/characters',character.url.split('/').pop()]"> View Details </a></button>
        <hr>
      </li>

    </ul>
  </div>
</div>