<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/Images/Books.jpg" alt="BOOKS">
        <div class="card-body">
          <h5 class="card-title">BOOKS</h5>
          <p class="card-text">All Books from the universe of Ice And Fire you've ever wanted!</p>
          <a routerLink="/book" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/Images/Characters.jpg" alt="CHARACTERS">
        <div class="card-body">
          <h5 class="card-title">CHARACTERS</h5>
          <p class="card-text">All Characters from the universe of Ice And Fire you've ever wanted!</p>
          <a routerLink="/character" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>
  
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/Images/Houses.jpg" alt="HOUSES">
        <div class="card-body">
          <h5 class="card-title">HOUSES</h5>
          <p class="card-text">All Houses from the universe of Ice And Fire you've ever wanted!</p>
          <a routerLink="/house" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>

  </div>
</div>